body {
    font-family: consolas;
    font-weight: 400;
    font-size: 15px;
    color: #333;
    background: transparent;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
<<<<<<< HEAD
=======

>>>>>>> b6d71c2bd5605dc339f27b5d2adb10e17d7cf7b7
}

a {
    text-decoration: none;
    /*color: #e23a6e;*/
}


/*清除浮动*/

.clr {
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
    padding: 0;
    margin: 0;
}

.st-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-family: consolas;
}


/*画布*/

#large-header {
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 100%;
}

#canvas {
    position: fixed;
    z-index: 2;
}


/*.st-contanier下的所有a，input*/

.st-container > input, .st-container > a {
    width: 25%;
    height: 50px;
    line-height: 50px;
    position: fixed;
    /*left: 0;*/
    /*bottom: 0;*/
    top: 0;
    cursor: pointer;
}

.st-container > input {
    opacity: 0;
    z-index: 100;
    /*是input优先级高*/
}

.st-container > a {
    z-index: 10;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    background: #e23a6e;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(151, 24, 64, 0.2);
}


/*#st-control-1 后面的一个a*/

#st-control-1, #st-control-1 + a {
    left: 0%;
}

#st-control-2, #st-control-2 + a {
    left: 25%;
}

#st-control-3, #st-control-3 + a {
    left: 50%;
}

#st-control-4, #st-control-4 + a {
    left: 75%;
}

.st-container input:checked + a, .st-container input:checked:hover + a {
    background: #821134;
}


/*在a的后面三角*/

.st-container input:checked + a:after {
    content: "";
    width: 0;
    height: 0;
    overflow: hidden;
    border: 20px solid transparent;
    border-top-color: #821134;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
}

.st-container input:hover + a {
    background-color: #AD244F;
}


/*content begin*/

.st-scroll, .st-panel {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    z-index: 4;
<<<<<<< HEAD
    /*overflow: hidden;*/
=======
>>>>>>> b6d71c2bd5605dc339f27b5d2adb10e17d7cf7b7
}


/*scroll div在滑动，panel没有*/

.st-scroll {
    left: 0;
    top: 0;
<<<<<<< HEAD
=======
    text-align: center;
>>>>>>> b6d71c2bd5605dc339f27b5d2adb10e17d7cf7b7
    -webkit-transform: translate3D(0, 0, 0);
    -moz-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    -o-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
    -webkit-backface-visiblity: hidden;
    -moz-backface-visiblity: hidden;
    -ms-backface-visiblity: hidden;
    -o-backface-visiblity: hidden;
    backface-visiblity: hidden;
    -webkit-transition: transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    -ms-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}

.st-panel {
    background-color: #fff transparent;
    overflow: hidden;
}

#st-control-1:checked ~ .st-scroll {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

#st-control-2:checked ~ .st-scroll {
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

#st-control-3:checked ~ .st-scroll {
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    transform: translateY(-200%);
}

#st-control-4:checked ~ .st-scroll {
    -webkit-transform: translateY(-300%);
    -o-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
    transform: translateY(-300%);
}


/*大头贴*/

img {
    text-align: center;
<<<<<<< HEAD
    margin-top: 4%;
    border-radius: 50%;
    position: absolute;
    left: 44%;
    width: 10%;
    height: 18%;
=======
    margin-top: 5%;
    border-radius: 50%;
    position: absolute;
    left: 44%;
    border: 5px solid red;
    width: 10%;
    height: 14%;
>>>>>>> b6d71c2bd5605dc339f27b5d2adb10e17d7cf7b7
    z-index: 50;
    -webkit-transition: transform 1s ease-in-out;
    -ms-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}

<<<<<<< HEAD

/*@-webkit-keyframes op{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}*/

=======
>>>>>>> b6d71c2bd5605dc339f27b5d2adb10e17d7cf7b7
img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

<<<<<<< HEAD
@media screen and (max-width:1366px) {
    img:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}

=======
>>>>>>> b6d71c2bd5605dc339f27b5d2adb10e17d7cf7b7

/*h2的动画*/

.st-panel h2 {
    color: #e23a6e;
<<<<<<< HEAD
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 700;
=======
    font-size: 55px;
    line-height: 50px;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 900;
>>>>>>> b6d71c2bd5605dc339f27b5d2adb10e17d7cf7b7
    /*加粗*/
    width: 100%;
    position: absolute;
    z-index: 20;
<<<<<<< HEAD
    margin-top: 15%;
=======
    margin-top: 16%;
>>>>>>> b6d71c2bd5605dc339f27b5d2adb10e17d7cf7b7
    text-shadow: 1px 1px 1px rgba(151, 24, 64, 0.2);
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

<<<<<<< HEAD
@media screen and (max-width: 1366px) {
    .st-panel h2 {
        font-size: 35px;
        line-height: 35px;
        font-weight: 500;
    }
}


/*p的动画*/

.st-panel p {
    position: absolute;
    width: 70%;
    margin-top: 22%;
    font-size: 24px;
    line-height: 28px;
    padding: 2px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #a23e6a;
    z-index: 10;
    letter-spacing: 1px;
}


/*首页表格*/

#table {
    position: absolute;
    margin-top: 15%;
    left: 25%;
    font-size: 20px;
    font-family: consolas;
    /*border: 2px solid #9ACD32;*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: left;
    width: 60%;
}

table td {
    color: #2a7da9;
    height: 80px;
}


@media screen and (max-width:1366px) {
    table td {
        height: 60px;
        width: 100px;
        padding-right: 10px;
    }
}


/*第二页*/

#x {
    position: absolute;
    width: 60%;
    margin-top: 17%;
    left: 25%;
}

#x .x-biglist {
    list-style-type: none;
    position: relative;
}

@media screen and (max-width: 1366px) {
    #x {
        position: absolute;
        width: 60%;
        margin-top: 17%;
        left: 25%;
    }
}

.first, .second, .third, .four, .five {
    overflow: hidden;
    height: 40px;
    margin-bottom: 30px;
    cursor: pointer;
}

h4 {
    margin: 0;
    padding: 0;
}

#x h4 {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border-left: 3px solid;
    /*justify字母两端对齐*/
    text-align: justify;
    font-family: consolas;
    font-size: 20px;
}

@media screen and (max-width:1366px) {
    .first, .second, .third, .four, .five {
        margin-bottom: 15px;
    }
}

.first-h4 {
    color: #2a7da9;
    background-color: #d6efff;
    border-color: #3498db;
    /*width: 93%;*/
}

.second-h4 {
    color: #2a7da9;
    background-color: #d6efff;
    border-color: #3498db;
    /*width: 85%;*/
}

.third-h4 {
    color: #6e9c0f;
    background-color: #BCEE68;
    border-color: #80bd01;
    /*width: 75%;*/
}

.four-h4 {
    color: #6e9c0f;
    background-color: #BCEE68;
    border-color: #80bd01;
    /*width: 65%;*/
}

.five-h4 {
    color: #ff742a;
    background-color: #EEDC82;
    border-color: #fdbc40;
    /*width: 55%;*/
}

@media screen and (min-width:1400px) {
    .third-h4, .four-h4 {
        background-color: #eaf6d0;
    }
    .five-h4 {
        background-color: #fff6dd;
    }
}

.first {
    width: 93%;
}

.second {
    width: 85%;
}

.third {
    width: 75%;
}

.four {
    width: 65%;
}

.five {
    width: 55%;
}


/*div出现*/

.biglist-div {
    position: absolute;
    left: 250px;
    margin-top: -5px;
    z-index: 9999;
    max-width: 350px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 0;
    -webkit-transform: opacity 0.8s;
    transform: opacity 0.8s ease-in-out;
}

@media screnn and (max-width:1366px) {
    .biglist-div {
        margin-top: -3px;
        padding: 8px;
    }
}

.first:hover .biglist-div, .second:hover .biglist-div, .third:hover .biglist-div, .four:hover .biglist-div, .five:hover .biglist-div {
    opacity: 1;
}

.div-list li {
    list-style-type: disc;
    text-align: justify;
    margin-left: 5px;
    line-height: 25px;
    font-family: 'Lantinghei SC', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

#st-control-2:checked ~ .st-scroll .first {
    -webkit-animation: js 2s ease;
}

#st-control-2:checked ~ .st-scroll .second {
    -webkit-animation: hc 2s ease;
}

#st-control-2:checked ~ .st-scroll .third {
    -webkit-animation: asp 2s ease;
}

#st-control-2:checked ~ .st-scroll .four {
    -webkit-animation: sql 2s ease;
}

#st-control-2:checked ~ .st-scroll .five {
    -webkit-animation: sublime 2s ease;
}

@-webkit-keyframes js {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 93%;
=======
#st-control-1:checked ~ .st-scroll #lxy, #st-control-2:checked ~ .st-scroll #xx, #st-control-3:checked ~ .st-scroll #xm, #st-control-4:checked ~ .st-scroll #sh {
   
    -webkit-animation: movedown 1s ease-in-out 0.2s backwards;
    -moz-animation: movedown 1s ease-in-out 0.2s backwards;
    -ms-animation: movedown 1s ease-in-out 0.2s backwards;
    -o-animation: movedown 1s ease-in-out 0.2s backwards;
    animation: movedown 1s ease-in-out 0.2s backwards;
}

@-webkit-keyframes movedown {
    0% {
        -webkit-transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}

@-o-keyframes movedown {
    0% {
        -o-transform: translateY(-400px);
        opacity: 0;
    }
    100% {
        -o-transform: translateY(0px);
        opacity: 1;
    }
}

@-ms-keyframes movedown {
    0% {
        -ms-transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -ms-transform: translateY(0px);
        opacity: 1;
    }
}

@-moz-keyframes movedown {
    0% {
        -moz-transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(0px);
>>>>>>> b6d71c2bd5605dc339f27b5d2adb10e17d7cf7b7
        opacity: 1;
    }
}

<<<<<<< HEAD
@-webkit-keyframes hc {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 85%;
        opacity: 1;
    }
}

@-webkit-keyframes asp {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 75%;
        opacity: 1;
    }
}

@-webkit-keyframes sql {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 65%;
        opacity: 1;
    }
}

@-webkit-keyframes sublime {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 55%;
        opacity: 1;
=======
.st-scroll h3 {
    letter-spacing: 3px;
    color: #9da;
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    z-index: 2;
    position: absolute;
    margin-top: 14%;
}

#st-control-1:checked ~ .st-scroll h3 {
    /*background: #CCC;*/
    -webkit-animation: moveleft 1s ease-in-out 0.2s backwards;
    -moz-animation: moveleft 1s ease-in-out 0.2s backwards;
    -ms-animation: moveleft 1s ease-in-out 0.2s backwards;
    -o-animation: moveleft 1s ease-in-out 0.2s backwards;
    animation: moveleft 1s ease-in-out 0.2s backwards;
}

@-webkit-keyframes movleft {
    0% {
        -webkit-transform: translateY(40px);
        opacity: 0;
        color: #e23a6e;
    }
    100% {
        -webkit-transform: translateY(0px);
        opacity: 1;
        color: #9da;
    }
}

@-moz-keyframes movleft {
    0% {
        -moz-transform: translateY(40px);
        opacity: 0;
        color: #e23a6e;
    }
    100% {
        -moz-transform: translateY(0px);
        opacity: 1;
        color: #9da;
    }
}

@-ms-keyframes movleft {
    0% {
        -ms-transform: translateY(40px);
        opacity: 0;
        color: #e23a6e;
    }
    100% {
        -ms-transform: translateY(0px);
        opacity: 1;
        color: #9da;
    }
}

@-o-keyframes movleft {
    0% {
        -o-transform: translateY(40px);
        opacity: 0;
        color: #e23a6e;
    }
    100% {
        -o-transform: translateY(0px);
        opacity: 1;
        color: #9da;
>>>>>>> b6d71c2bd5605dc339f27b5d2adb10e17d7cf7b7
    }
}


<<<<<<< HEAD
/*页面上字体的动画*/

#st-control-1:checked ~ .st-scroll #table,  #st-control-4:checked ~ .st-scroll #s {
=======
/*p的动画*/

.st-panel p {
    position: absolute;
    width: 60%;
    margin-top: 20%;
    font-size: 30px;
    line-height: 28px;
    padding: 2px;
    width: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #8b8b8b;
    z-index: 10;
    letter-spacing: 3px;
}

#st-control-1:checked ~ .st-scroll #w, #st-control-2:checked ~ .st-scroll #x, #st-control-3:checked ~ .st-scroll #m, #st-control-4:checked ~ .st-scroll #s {
>>>>>>> b6d71c2bd5605dc339f27b5d2adb10e17d7cf7b7
    -webkit-animation: moveup 2s ease-in-out 0.2s backwards;
    -o-animation: moveup 2s ease-in-out 0.2s backwards;
    -ms-animation: moveup 2s ease-in-out 0.2s backwards;
    -moz-animation: moveup 2s ease-in-out 0.2s backwards;
    animation: moveup 2s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveup {
    0% {
        -webkit-transform: translateY(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        opacity: 1;
    }
}

@-o-keyframes moveup {
    0% {
        -o-transform: translateY(40px);
        opacity: 0;
    }
    100% {
        -o-transform: translateY(0px);
        opacity: 1;
    }
}

@-ms-keyframes moveup {
    0% {
        -ms-transform: translateY(40px);
        opacity: 0;
    }
    100% {
        -ms-transform: translateY(0px);
        opacity: 1;
    }
}

@-moz-keyframes moveup {
    0% {
        -moz-transform: translateY(40px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes moveup {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
<<<<<<< HEAD
#st-control-3:checked ~ .st-scroll #m{
    -webkit-animation:movedown 2s ease-in-out;
}
@-webkit-keyframes movedown{
    0%{
        -webkit-transform:translateY(-40px);
        opacity: 0;
    }
    100%{
        -webkit-transform:translateY(0px);
        opacity: 1;
    }
}

/*#play {
    position: fixed;
    z-index: 100;
    border: 2px solid red;
    right: 0;
    bottom: 0;
}*/


/*段落p的样式*/

#m {
    position: absolute;
    margin-top: 18%;
    text-align: left;
    padding-left: 5px;
    left: 10%;
    width: 80%;
}

legend {
    /*border: 2px solid #9da;*/
    height: 30px;
    font-family: "微软雅黑";
    font-size: 20px;
    line-height: 30px;
    color: #2a7da9;
    text-align: center;
}

fieldset {
    height: 30px;
    font-family: "微软雅黑";
    font-size: 20px;
    line-height: 30px;
    color: #2a7da9;
}

@media screen and (max-width:1366px) {
    #m {
        margin-top: 14%;
    }
    fieldset {
        font-size: 17px;
        line-height: 25px;
    }
}

#s {
    position: absolute;
    left: 50%;
    text-align: left;
    margin-top: 20%;
    margin-left: -200px;
    color: #a23e6a;
    /*width: 60%;*/
    /*background: #E0FFFF;*/
    font-family: "微软雅黑";
    font-size: 18px;
    line-height: 23px;
    padding: 20px;
    border: 2px dashed #a23e6a;
    border-radius: 10px;
}

#s span {
    display: block;
    font-size: 35px;
    text-align: center;
    line-height: 40px;
    padding-right: 10%;
}

@media screen and (max-width:1366px) {
    #s {
        margin-top: 20%;
        /*width: 70%;*/
        left: 50%;
        margin-left: -80px;
        font-size: 15px;
        line-height: 20px;
        padding: 5px;
    }
    #s span {
        font-size: 30px;
        line-height: 33px;
    }
=======

#play {
    position: fixed;
    z-index: 100;
    border: 5px solid red;
    right: 0;
    bottom: 0;
>>>>>>> b6d71c2bd5605dc339f27b5d2adb10e17d7cf7b7
}